/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
Test*/*.o
Test*/*.elf
Test*/*.d
Test*/Startup_Code/*.o
Test*/Startup_Code/*.map
Test*/Startup_Code/*.d
